<h3 class="ui header">{{t "forms.i-i-s-k-r-место-хран-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.расположение
      class=(if (v-get validationModel "расположение" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-место-хран-e.расположение-caption")
      data-test-i-i-s-k-r-место-хран-e-расположение=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "расположение" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.имяМеста
      class=(if (v-get validationModel "имяМеста" "isInvalid") "error")
      label=(t "forms.i-i-s-k-r-место-хран-e.имяМеста-caption")
      data-test-i-i-s-k-r-место-хран-e-имяМеста=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "имяМеста" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-r-место-хран-e.записьМат-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.записьМат
      displayAttributeName="материал"
      autocomplete=true
      relationName="записьМат"
      projection="ЗаписьМатL"
      title=(t "forms.i-i-s-k-r-место-хран-e.записьМат-caption")
      readonly=readonly
      componentName="записьМатLookup"
      class=(if (v-get validationModel "записьМат" "isInvalid") "error")
      data-test-i-i-s-k-r-место-хран-e-записьМат=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "записьМат" "message")}}
  </div>
</form>
